/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    
    width           : 100%;
    height          : 100%;
}

.answer a {
  color:#fff;
  text-decoration: underline;
}

.abs-mid {
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  margin: auto;
}

.abs-top {
  position: absolute;
  top:0;
}

.abs-bot {
  position: absolute;
  bottom:0;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.padded {
    padding: 2em;
}

.init-hidden {
    display: none;
}

#main-container {
    background             : url(../img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
    height                 : 100%; 
    width                  : 100%;
    /*overflow               : hidden;*/
}

#haze-canvas {
  position: absolute;
}

.wipe-text {
  position: relative;
  pointer-events:none;
  margin: auto;
  width:95%;
  height:20%;
  top:20%;
  text-align: center;
  z-index: 300;
  color: #d9cab7;
  text-transform: uppercase;
}


.fact.visible-phone {
  width:95%;
  text-align: center;
  z-index: 300;
  color: #d9cab7;
  z-index: 0;
  position: absolute;
  top:5%;
  left: 0;
  right: 0;
  margin: auto;
}

.fact.hidden-phone {
  width:50%;
  text-align: center;
  z-index: 300;
  color: #d9cab7;
  z-index: 0;
  position: absolute;
  top:10%;
  left: 0;
  right: 0;
  margin: auto;
}

.fact-holder {
  display: none;
}

.span3 {
    font-size: 1.4em;
}

.span12 {
    margin-bottom:2em;
}

.visible-phone > .span12,
.visible-phone.span12 {
    margin-bottom:0.5em;
}

.psi-label, .psi-reading {
    color: #FFF;
    font-size: 3em;
    text-shadow: 2px 2px #8A8573;
    line-height: normal;
}

.psi-label.phone, .psi-reading.phone {
    color: #FFF;
    font-size: 1.6em;
    text-shadow: 2px 2px #8A8573;
    line-height: normal;
}

.psi-reading {
    font-weight: bold;
    line-height: normal;
}

.sources {
    margin:0;
}

.source {
    color: #8A8573;
    font-size: 1em;
}

#haze-canvas {
    position: absolute;
    z-index: 100;
}

.row-fluid {
    z-index: 200;
}

.question {
    font-size:2.2em;
    line-height: normal;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px #8A8573;
}

.answer {
    font-size:1.5em;
    line-height: normal;
    font-weight: normal;
    color: #fff;
    text-shadow: 1px 1px #8A8573;
}

.question.phone {
    font-size:1.6em;
}

.answer.phone {
    font-size:1em;
}

.title {
    font-size:2.4em;
    line-height: normal;
    color: #fff;
    text-shadow: 2px 2px #8A8573;   
}

.title.phone {
    font-size:1.3em;
}

.source {
  width: 200px;
  margin: auto;
}

.hidden {
  display:none;
}

.popup {
  background: #fff;
  z-index: 5000;
  height:40%;
  top:20%;
  padding:1em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px;
  -moz-box-shadow:    2px 2px 2px 2px #8A8573;
  -webkit-box-shadow: 2px 2px 2px 2px #8A8573;
  box-shadow:         2px 2px 2px 2px #8A8573;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
